<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="J2N.Tests.Android"
          android:name=".MainActivity">
  <uses-sdk android:minSdkVersion="25" android:targetSdkVersion="29" />
  <application tools:replace="android:appComponentFactory" android:appComponentFactory="androidx.core.app.CoreComponentFactory">
  </application>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
</manifest>
